
.idea/.name

.idea/codeStyleSettings.xml

.idea/deployment.xml

.idea/dev_stop.iml

.idea/jsLibraryMappings.xml

.idea/libraries/AngularJs.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
