<md-content layout-padding id="tech__container">
  <md-content layout-padding id="tech__basic-info">
    <h1>{{ technology.name }}</h1>
    <h4>Language: {{ technology.language }}</h4>
    <p>Classification: {{ technology.classification }}</p>
  </md-content>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Documentation">
      <md-content layout-padding>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
        </p>
      </md-content>
    </md-tab>
    <md-tab label="Articles"></md-tab>
    <md-tab label="Tutorials"></md-tab>
    <md-tab label="Videos"></md-tab>
    <md-tab label="Questions"></md-tab>
  </md-tabs>
</md-content>
